body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#verde{
    background-color: #043800;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 85%;
    margin-top: 5.5%;
}

.white{
    background-color: white;
    display: flex;
    border-radius: 500px;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
}


.soldado{
    width: 65%;
    height: fit-content;
}